<%- include('./partials/header') %>

<h2>Dirty Hands</h2>
<p>Knowledge is knowing that a Tomato is a fruit.<br>
    Wisdom is not putting it in a fruit salad.
</p>

<%- include('./partials/footer') %>