<% - include('../partials/header') %>
<section id="show-page">
    <div>Name: </div>
    <div><%= plant.name %></div>
    <div>Variety: </div>
    <div><%= plant.variety %></div>
    <div>Area: </div>
    <div><%= plant.area %></div>
    <div>Cycle: </div>
    <div><%= plant.cycle %></div>
  </section>

<% - include('../partials/footer') %>